# 10.1 Calculating a Single p Value From a Normal Distribution

In [2]:
a <- 5
s <- 2
n <- 20
xbar <- 7
z <- (xbar-a)/(s/sqrt(n))
z

[1] 4.472136

In [5]:
2*pnorm(-abs(z))
2*(1-pnorm(xbar,mean=a,sd=s/sqrt(20)))

[1] 7.744216e-06

[1] 7.744216e-06

# 10.2 Calculating a Single p Value From a t Distribution

In [6]:
a <- 5
s <- 2
n <- 20
xbar <- 7
t <- (xbar-a)/(s/sqrt(n))
t

[1] 4.472136

In [7]:
2*pt(-abs(t),df=n-1)

[1] 0.0002611934

In [10]:
w1 <- read.csv(file="w1.dat",sep=",",head=TRUE)
summary(w1)
length(w1$vals)

      vals
 Min.   :0.130
 1st Qu.:0.480
 Median :0.720
 Mean   :0.765
 3rd Qu.:1.008
 Max.   :1.760

[1] 54

In [12]:
t <- (mean(w1$vals)-0.7)/(sd(w1$vals)/sqrt(length(w1$vals)))
t

[1] 1.263217

In [14]:
2*pt(-abs(t),df=length(w1$vals)-1)

[1] 0.21204

# 10.3 Calculating Many p Values From a t Distribution

In [15]:
m1 <- c(10,12,30)
m2 <- c(10.5,13,28.5)
sd1 <- c(3,4,4.5)
sd2 <- c(2.5,5.3,3)
num1 <- c(300,210,420)
num2 <- c(230,340,400)
se <- sqrt(sd1*sd1/num1+sd2*sd2/num2)
t <- (m1-m2)/se

In [20]:
pt(t,df=pmin(num1,num2)-1)
t

[1] 0.01881168 0.00642689 0.99999998

[1] -2.091082 -2.509364  5.640761

In [19]:
pt(-abs(t),df=pmin(num1,num2)-1)

[1] 1.881168e-02 6.426890e-03 1.605968e-08

# 10.4 The Easy Way

In [23]:
help(t.test)

In [24]:
x <- c(9.0,9.5,9.6,10.2,11.6)
t.test(x)

	One Sample t-test

data:  x
t = 22.294, df = 4, p-value = 2.397e-05
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
  8.737095 11.222905
sample estimates:
mean of x
     9.98

In [27]:
t.test(x,mu=10)

	One Sample t-test

data:  x
t = -0.044677, df = 4, p-value = 0.9665
alternative hypothesis: true mean is not equal to 10
95 percent confidence interval:
  8.737095 11.222905
sample estimates:
mean of x
     9.98

In [28]:
t.test(x,mu=10,alternative="less")

	One Sample t-test

data:  x
t = -0.044677, df = 4, p-value = 0.4833
alternative hypothesis: true mean is less than 10
95 percent confidence interval:
     -Inf 10.93434
sample estimates:
mean of x
     9.98

In [29]:
x <- c(9.0,9.5,9.6,10.2,11.6)
y <- c(9.9,8.7,9.8,10.5,8.9,8.3,9.8,9.0)
t.test(x,y)

	Welch Two Sample t-test

data:  x and y
t = 1.1891, df = 6.78, p-value = 0.2744
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.6185513  1.8535513
sample estimates:
mean of x mean of y
   9.9800    9.3625