2.1 Variable Types

2.1.1 Numbers

In [2]:
a <- 3 
a

[1] 3

In [4]:
b <- sqrt(a*a+3)
b

[1] 3.464102

In [5]:
ls()

[1] "a" "b"

In [10]:
a <- c(1,2,3,4,5)
a+1
mean(a)
var(a)

[1] 2 3 4 5 6

[1] 3

[1] 2.5

In [13]:
a <- numeric(10)
a

 [1] 0 0 0 0 0 0 0 0 0 0

In [14]:
typeof(a)

[1] "double"

2.1.2 Strings

In [16]:
a <- "hello"
a

[1] "hello"

In [18]:
b <- c("hello", "there")
b

[1] "hello" "there"

In [19]:
typeof(a)
typeof(b)

[1] "character"

[1] "character"

In [22]:
a <- character(20)
a

 [1] "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" ""

2.1.3 Factors

In [28]:
tree <- read.csv(file="trees91.csv", header=TRUE, sep=",")
summary(tree$CHBR)

 A1  A2  A3  A4  A5  A6  A7  B1  B2  B3  B4  B5  B6  B7  C1  C2  C3  C4  C5  C6
  3   1   1   3   1   3   1   1   3   3   3   3   3   3   1   3   1   3   1   1
 C7 CL6 CL7  D1  D2  D3  D4  D5  D6  D7
  1   1   1   1   1   3   1   1   1   1

In [29]:
tree$C
summary(tree$C)

 [1] 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3
[39] 3 3 3 4 4 4 4 4 4 4 4 4 4 4 4 4

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  1.000   2.000   2.000   2.519   3.000   4.000

In [30]:
tree$C <- factor(tree$C)
tree$C
summary(tree$C)
levels(tree$C)

 [1] 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3
[39] 3 3 3 4 4 4 4 4 4 4 4 4 4 4 4 4
Levels: 1 2 3 4

 1  2  3  4
 8 23 10 13

[1] "1" "2" "3" "4"

2.1.4 Data Frames

In [32]:
a <- c(1,2,3,4)
b <- c(2,4,6,8)
levels <- factor(c("A","B","A","B"))
bubba <- data.frame(first=a,
                    second=b,
                    f=levels)
bubba

  first second f
1 1     2      A
2 2     4      B
3 3     6      A
4 4     8      B

2.1.5 Logical

In [33]:
a <- TRUE
typeof(a)

[1] "logical"

In [34]:
b <- FALSE
typeof(b)

[1] "logical"

In [35]:
a <- c(TRUE, FALSE)
b <- c(FALSE, FALSE)

[1]  TRUE FALSE

In [37]:
a|b
a||b
xor(a,b)

[1]  TRUE FALSE

[1] TRUE

[1]  TRUE FALSE

2.2 Tables

2.2.1 One Way Tables

In [41]:
a <- factor(c("A","A","B","A","B","B","C","A","C"))
results <- table(a)
results

a
A B C
4 3 2

In [42]:
attributes(results)

$dim
[1] 3

$dimnames
$dimnames$a
[1] "A" "B" "C"


$class
[1] "table"

In [45]:
summary(results)

Number of cases in table: 9
Number of factors: 1