# 13.1 Appending Data

In [1]:
a <- data.frame(one=c(0,1,2),two=c("a","a","b"))
b <- data.frame(one=c(10,11,12), two=c("c","c","d"))

In [2]:
v <- rbind(a,b)
typeof(v)
v

[1] "list"

  one two
1  0  a
2  1  a
3  2  b
4 10  c
5 11  c
6 12  d

In [3]:
w <- cbind(a,b)
typeof(w)
w

[1] "list"

  one two one two
1 0   a   10  c
2 1   a   11  c
3 2   b   12  d

In [4]:
names(w) <- c("one","two","three","four")
w

  one two three four
1 0   a   10    c
2 1   a   11    c
3 2   b   12    d

##### Matrices

In [5]:
A <- matrix(c(1,2,3,4,5,6),ncol=3,byrow=TRUE)
B <- matrix(c(10,20,30,40,50,60),ncol=3,byrow=TRUE)

In [6]:
V <- rbind(A,B)
typeof(V)
V

[1] "double"

     [,1] [,2] [,3]
[1,]  1    2    3
[2,]  4    5    6
[3,] 10   20   30
[4,] 40   50   60

In [7]:
W <- cbind(A,B)
typeof(W)
W

[1] "double"

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 1    2    3    10   20   30
[2,] 4    5    6    40   50   60

# 13.2 Applying Functions Across Data elements

## 13.2.1 Operations on Lists and Vectors

In [9]:
x <- list(a=rnorm(200,mean=1,sd=10),
          b=rexp(300,10.0),
          c=as.factor(c("a","b","b","b","c","c")))
lapply(x,summary)

$a
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
-28.866  -4.771   2.731   2.463   9.448  26.229

$b
     Min.   1st Qu.    Median      Mean   3rd Qu.      Max.
0.0006244 0.0323953 0.0694440 0.1037985 0.1366228 0.6563432

$c
a b c
1 3 2

In [10]:
x <- list(a=rnorm(8,mean=1,sd=10),b=rexp(10,10.0))
x

$a
[1] -19.3493732 -15.3347400  -0.8976959  -8.7805744  -3.2196069  11.5196935
[7]  -3.2089376  -6.0286446

$b
 [1] 0.055174557 0.012271721 0.174871093 0.007213405 0.024869453 0.045143975
 [7] 0.138750193 0.088127124 0.005237914 0.245792514

In [11]:
val <- lapply(x,mean)
typeof(val)
val

[1] "list"

$a
[1] -5.662485

$b
[1] 0.07974519

In [12]:
val2 <- sapply(x,mean)
typeof(val2)
val2

[1] "double"

          a           b
-5.66248488  0.07974519

## 13.2.2 Operations By Factors

In [14]:
val <- data.frame(a=c(1,2,10,20,5,50),
                  b=as.factor(c("a","a","b","b","a","b")))
val

  a  b
1  1 a
2  2 a
3 10 b
4 20 b
5  5 a
6 50 b

In [16]:
result <- tapply(val$a, val$b, mean)
typeof(result)
result

[1] "double"

        a         b
 2.666667 26.666667

In [17]:
result <- tapply(val$a,val$b,summary)
typeof(result)
result

[1] "list"

$a
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  1.000   1.500   2.000   2.667   3.500   5.000

$b
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  10.00   15.00   20.00   26.67   35.00   50.00