# 14.1 Time and Date Variables

In [1]:
help(DateTimeClasses)

In [2]:
t <- Sys.time()
typeof(t)

[1] "double"

In [3]:
t

[1] "2018-02-13 23:31:27 CET"

In [4]:
cat(t, "\n")
c <- as.POSIXct(t)
typeof(c)
print(c)
cat(c, "\n")

1518561087

[1] "double"

[1] "2018-02-13 23:31:27 CET"
1518561087

In [5]:
l <- as.POSIXlt(t)
l
typeof(l)
print(l)
cat(l,"\n")
names(l)

[1] "2018-02-13 23:31:27 CET"

[1] "list"

[1] "2018-02-13 23:31:27 CET"

ERROR: Error in cat(l, "\n"): el argumento 1 (type 'list') no es soportado por 'cat'

In [6]:
b <- as.POSIXct(l)
cat(b,"\n")

1518561087

In [7]:
help(strftime)

In [8]:
t <- Sys.time()
cat(t,'\n')
timeStamp <- strftime(t,"%Y-%m-%d %H:%M:%S")
timeStamp
typeof(timeStamp)

1518561528

[1] "2018-02-13 23:38:47"

[1] "character"

In [9]:
myData <- data.frame(time=c("2014-01-23 14:28:21","2014-01-23 14:28:55",
                            "2014-01-23 14:29:02","2014-01-23 14:31:18"),
                     speed=c(2.0,2.2,3.4,5.5))
myData

  time                speed
1 2014-01-23 14:28:21 2.0
2 2014-01-23 14:28:55 2.2
3 2014-01-23 14:29:02 3.4
4 2014-01-23 14:31:18 5.5

In [10]:
summary(myData)
myData$time[1]
typeof(myData$time[1])

                  time       speed
 2014-01-23 14:28:21:1   Min.   :2.000
 2014-01-23 14:28:55:1   1st Qu.:2.150
 2014-01-23 14:29:02:1   Median :2.800
 2014-01-23 14:31:18:1   Mean   :3.275
                         3rd Qu.:3.925
                         Max.   :5.500

[1] 2014-01-23 14:28:21
4 Levels: 2014-01-23 14:28:21 2014-01-23 14:28:55 ... 2014-01-23 14:31:18

[1] "integer"

In [11]:
myData$time <- strptime(myData$time,"%Y-%m-%d %H:%M:%S")
myData
myData$time[1]
typeof(myData$time[1])
myData$time[1][[2]]

  time                speed
1 2014-01-23 14:28:21 2.0
2 2014-01-23 14:28:55 2.2
3 2014-01-23 14:29:02 3.4
4 2014-01-23 14:31:18 5.5

[1] "2014-01-23 14:28:21 CET"

[1] "list"

[1] 28

In [12]:
N = length(myData$time)
myData$time[2:N] - myData$time[1:(N-1)]

Time differences in secs
[1]  34   7 136

In [22]:
theDates <- c("1 jan 2012","1 jan 2013","1 jan 2014")
dateFields <- as.Date(theDates,"%d %b %Y")
typeof(dateFields)

[1] "double"

##### Check that

In [24]:
dateFields
N <- length(dateFields)
diff <- dateFields[1:(N-1)] - dateFields[2:N]
diff

[1] NA NA NA

Time differences in days
[1] NA NA

In [25]:
infamy <- as.Date(-179,origin="1942-06-04")
infamy
today <- Sys.Date()
today
today-infamy

[1] "1941-12-07"

[1] "2018-02-13"

Time difference of 27827 days

In [26]:
theTime <- Sys.time()
theTime
a <- rexp(1,0.1)
a
cat("At about",format(theTime,"%H:%M"),"the time between occurances was around",format(a,digits=3),"seconds\n")

[1] "2018-02-13 23:50:43 CET"

[1] 13.61219

At about 23:50 the time between occurances was around 13.6 seconds

# 14.2 Time Operations

In [27]:
now <- Sys.time()
now
now-60

[1] "2018-02-13 23:51:50 CET"

[1] "2018-02-13 23:50:50 CET"

In [28]:
earlier <- strptime("2000-01-01 00:00:00","%Y-%m-%d %H:%M:%S")
later <- strptime("2000-01-01 00:00:20","%Y-%m-%d %H:%M:%S")
later-earlier
as.double(later-earlier)

Time difference of 20 secs

[1] 20

In [29]:
earlier <- strptime("2000-01-01 00:00:00","%Y-%m-%d %H:%M:%S")
later <- strptime("2000-01-01 01:00:00","%Y-%m-%d %H:%M:%S")
later-earlier
as.double(later-earlier)

Time difference of 1 hours

[1] 1

In [30]:
up <- as.Date("1961-08-13")
down <- as.Date("1989-11-9")
down-up

Time difference of 10315 days

In [31]:
help(difftime)

In [32]:
earlier <- strptime("2000-01-01 00:00:00","%Y-%m-%d %H:%M:%S")
later <- strptime("2000-01-01 01:00:00","%Y-%m-%d %H:%M:%S")
difftime(later,earlier)
difftime(later,earlier,units="secs")

Time difference of 1 hours

Time difference of 3600 secs

In [33]:
earlier <- strptime("2000-01-01 00:00:00","%Y-%m-%d %H:%M:%S")
later <- strptime("2000-01-01 00:00:20","%Y-%m-%d %H:%M:%S")
d <- difftime(later,earlier)
d
typeof(d)
as.double(d)

Time difference of 20 secs

[1] "double"

[1] 20

In [34]:
diff <- as.difftime("00:30:00","%H:%M:%S",units="hour")
diff
Sys.time()
Sys.time()+diff

Time difference of 0.5 hours

[1] "2018-02-13 23:54:18 CET"

[1] "2018-02-14 00:24:18 CET"

In [35]:
diff <- as.difftime("00:30:00","%H:%M:%S",units="hour")
now <- Sys.time()
later <- now + diff
now
later

[1] "2018-02-13 23:54:48 CET"

[1] "2018-02-14 00:24:48 CET"

In [36]:
if(now < later)
{
   cat("there you go\n")
}

there you go